@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('./assets/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: auto;
    font-family: Inter;
}

header {
    background-color: hsl(225, 100%, 98%);
    padding-left: 162px;
    padding-top: 42px;
    padding-bottom: 145px;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-header{
    flex: 1;
}
.main-header h1 {
    font-size: 27px;
    letter-spacing: 0.6px;
    line-height: 24px;
}
.total-folowers {
    color: hsl(228, 12%, 44%);
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    margin-left: 3px;
}
.mode-change {
    flex: 1;
    text-align: right;
    margin-right: 164px;
    margin-top: 8px;
}
.mode-change span {
    color: hsl(228, 34%, 66%);
    font-size: 14px;
    padding-right: 10px;
    font-weight: bold;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    right: 4px;
    bottom: 2.6px;
    background-color: hsl(227, 47%, 96%);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));

}

input:checked + .slider:before {
    -webkit-transform: translateX(-21px);
    -ms-transform: translateX(-21px);
    transform: translateX(-21px);
}

/* Rounded sliders */
.slider {
    border-radius: 30px;
}

.slider:before {
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: space-between;
    margin-left: 162px;
    margin-right: 164px;
    margin-top: -108px;
    margin-bottom: 21px;
    flex-wrap: wrap;
}
.main-div {
    background-color: hsl(227, 47%, 96%);
    display: block;
    width: 255px;
    height: 216px;
    margin-bottom: 24px;
    border-radius: 5px;
    overflow: hidden;
}
.main-div::before {
    content: '';
    height: 4px;
    width: 255px;
    display: block;
}
.main-div:first-child::before {
    background: hsl(208, 92%, 53%);
}
.main-div:nth-child(2)::before {
    background: hsl(203, 89%, 53%);
}
.main-div:nth-child(3)::before {
    background: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
}
.main-div:last-child::before {
    background: hsl(348, 97%, 39%);
}
.main-div:hover {
    background-color: hsl(230, 22%, 74%);
}
.all-together{
    padding-top: 28px;
    text-align: center;
}
.icon-nickname {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nickname{
    text-align: center;
    display: inline-block;
    color: hsl(228, 12%, 44%);
    font-size: 12px;
    margin-left: 8px;
    font-weight: bold;
}
.all-together img {
    width: 20px;
    height: 20px;
    text-align: center;
}
.main-div h1 {
    font-size: 54px;
    text-align: center;
    padding-top: 18px;
}
.followers {
    font-size: 10px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(228, 12%, 44%);
    display: block;
}
.today {
    font-size: 12px;
    text-align: center;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.arrow-up {
    color: hsl(163, 72%, 41%);
}

.container {
    margin-left: 162px;
    margin-right: 164px;
}
.container h2 {
    font-size: 24px;
    color: hsl(228, 12%, 44%);
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-items {
    width: 254px;
    height: 125px;
    margin-bottom: 24px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 5px;
}
.container-items:hover {
    background-color: hsl(230, 22%, 74%);
}
.top-side {
    margin: 26px 30px 18px 26px;
    display: flex;
    justify-content: space-between;
    color: hsl(228, 12%, 44%);
    font-weight: bold;
    font-size: 14px;
}
.bot-side {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 26px 26px;
}
.bot-side h1 {
    font-size: 32px;
}
.overview {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: -12px;
    font-weight: bold;
}

.arrow-up {
    color: hsl(163, 72%, 41%);
}
.arrow-up::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent hsl(163, 72%, 41%) transparent;
    margin-right: 5px;
}

.arrow-down {
    color: hsl(356, 69%, 56%);
}
.arrow-down::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: hsl(356, 69%, 56%) transparent transparent transparent;   
    margin-right: 5px;
}

.dark-mode {
    background-color: hsl(230, 17%, 14%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s ease-in;
}
.dark-mode header {
    background-color: hsl(232, 19%, 15%);
    transition: 0.3s ease-in;
}
.dark-mode .mode-change span {
    color: hsl(228, 34%, 66%);
}
.dark-mode .nickname {
    color: hsl(228, 34%, 66%);
}
.dark-mode h2 {
    color: hsl(0, 0%, 100%);
}
.dark-mode .top-side span {
    color: hsl(228, 34%, 66%);
}
.dark-mode .main-div{
    background-color: hsl(228, 28%, 20%);
    transition: 0.3s ease-in;
}
.dark-mode .main-div:hover{
    background-color: hsl(228, 28%, 30%);
}
.dark-mode .container-items {
    background-color: hsl(228, 28%, 20%);
    transition: 0.3s ease-in;
}
.dark-mode .container-items:hover{
    background-color: hsl(228, 28%, 30%);
}