/*
* Light theme colors
*/

$very-pale-blue : hsl(225, 100%, 98%);
$dark-grayish-blue : hsl(228, 12%, 44%);
$desaturated-blue : hsl(228, 34%, 66%);
$toggle-light : hsl(230, 22%, 74%);
$light-grayish-blue : hsl(227, 47%, 96%);
$toggle-linear-gradient : linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));


$facebook : hsl(208, 92%, 53%);
$twitter : hsl(203, 89%, 53%);
$instagram : linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);
$arrow-up : hsl(163, 72%, 41%);
$arrow-down : hsl(356, 69%, 56%);

/*
* Dark theme colors
*/

$very-dark-blue : hsl(230, 17%, 14%);
$white : hsl(0, 0%, 100%);
$very-dark-blue-header-bg : hsl(232, 19%, 15%);
$desaturated-blue : hsl(228, 34%, 66%);
$dark-desaturated-blue : hsl(228, 28%, 20%);
$dark-desaturated-blue-hover : hsl(228, 28%, 30%);